---
layout: home
title: ...welcome?
---

<div class="page-content">
  <div class="wrapper">
    {% for post in paginator.posts %}
      <article>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2> <i><span>Posted {{ post.date | date_to_string }}</span></i>
        <!-- I know some of y'all web coders will yell at me for this but honestly i don't care enough -->
        <div class="entry">{{ post.excerpt }}</div>
      </article>
    {% endfor %}

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">« Newer</a>
      {% endif %}

      <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Older »</a>
      {% endif %}
    </div>
  </div>
</div>