---
layout: home
title: ...welcome?
---

<div class="page-content">
  <div class="wrapper">
    <!-- The Loop -->
    {% for post in paginator.posts %}
      <article>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p>{{ post.date | date_to_string }}</p>
        <div class="entry">{{ post.excerpt }}</div>
      </article>
    {% endfor %}

    <!-- The Nav -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">« Newer</a>
      {% endif %}

      <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Older »</a>
      {% endif %}
    </div>
  </div>
</div>